In [44]:
#importing numpy and pandas which are required for data pre-processing
import numpy as np
import pandas as pd

In [45]:
#loading the legitimate URLs data to dataframe
raw_data0 = pd.read_csv("raw_datasets2/legitimate_websites.txt", sep='delimiter', header=None)
raw_data0.columns = ['URLs']
raw_data0.head()

/usr/local/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                                URLs
0               https://enabil.nabilbank.com/#/login
1                  https://www.himalayanbank.com/en/
2               https://ibanking.nbbl.com.np/#/login
3                           https://www.nbbl.com.np/
4  https://www.netebl.com/corp/AuthenticationCont...

In [46]:
raw_data0['URLs'].str.split("://").head() #Here we divided the protocol from the entire URL. but need it to be divided it 
                                                 #seperate column

0                [https, enabil.nabilbank.com/#/login]
1                   [https, www.himalayanbank.com/en/]
2                [https, ibanking.nbbl.com.np/#/login]
3                            [https, www.nbbl.com.np/]
4    [https, www.netebl.com/corp/AuthenticationCont...
Name: URLs, dtype: object

In [47]:
seperation_of_protocol = raw_data0['URLs'].str.split("://",expand = True) #expand argument in the split method will give you a new column

In [48]:
seperation_of_protocol.head()

       0                                                  1
0  https                       enabil.nabilbank.com/#/login
1  https                          www.himalayanbank.com/en/
2  https                       ibanking.nbbl.com.np/#/login
3  https                                   www.nbbl.com.np/
4  https  www.netebl.com/corp/AuthenticationController?F...

In [49]:
seperation_domain_name = seperation_of_protocol[1].str.split("/",1,expand = True) #split(seperator,no of splits according to seperator(delimiter),expand)

In [50]:
seperation_domain_name.columns=["domain_name","address"] #renaming columns of data frame

In [51]:
seperation_domain_name.head()

             domain_name                                            address
0   enabil.nabilbank.com                                            #/login
1  www.himalayanbank.com                                                en/
2   ibanking.nbbl.com.np                                            #/login
3        www.nbbl.com.np
4         www.netebl.com  corp/AuthenticationController?FORMSGROUP_ID__=...

In [52]:
#Concatenation of data frames
splitted_data = pd.concat([seperation_of_protocol[0],seperation_domain_name],axis=1)

In [53]:
splitted_data.columns = ['protocol','domain_name','address']

In [54]:
splitted_data.head()

,protocol,domain_name,address
0,https,enabil.nabilbank.com,#/login
1,https,www.himalayanbank.com,en/
2,https,ibanking.nbbl.com.np,#/login
3,https,www.nbbl.com.np,
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...

In [55]:
def long_url(l):
    """This function is defined in order to differntiate website based on the length of the URL"""
    if len(l) < 54:
        return 0
    else:
        return 1

In [56]:
#Applying the above defined function in order to divide the websites into 3 categories
splitted_data['long_url'] = raw_data0['URLs'].apply(long_url)

In [57]:
#Will show the results only the websites which are legitimate according to above condition as 0 is legitimate website
splitted_data[splitted_data.long_url == 0].head()

  protocol            domain_name  address  long_url
0    https   enabil.nabilbank.com  #/login         0
1    https  www.himalayanbank.com      en/         0
2    https   ibanking.nbbl.com.np  #/login         0
3    https        www.nbbl.com.np                  0
5    https     everestbankltd.com                  0

In [58]:
def have_at_symbol(l):
    """This function is used to check whether the URL contains @ symbol or not"""
    if "@" in l:
        return 1
    return 0

In [59]:
splitted_data['having_@_symbol'] = raw_data0['URLs'].apply(have_at_symbol)

In [60]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol
0,https,enabil.nabilbank.com,#/login,0,0
1,https,www.himalayanbank.com,en/,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0
3,https,www.nbbl.com.np,,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0

In [61]:
def redirection(l):
    """If the url has symbol(//) after protocol then such URL is to be classified as phishing """
    if "//" in l:
        return 1
    return 0

In [62]:
splitted_data['redirection_//_symbol'] = seperation_of_protocol[1].apply(redirection)

In [63]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol,redirection_//_symbol
0,https,enabil.nabilbank.com,#/login,0,0,0
1,https,www.himalayanbank.com,en/,0,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0,0
3,https,www.nbbl.com.np,,0,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0,0

In [64]:
def prefix_suffix_seperation(l):
    if '-' in l:
        return 1
    return 0

In [65]:
splitted_data['prefix_suffix_seperation'] = seperation_domain_name['domain_name'].apply(prefix_suffix_seperation)

In [66]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol,redirection_//_symbol,prefix_suffix_seperation
0,https,enabil.nabilbank.com,#/login,0,0,0,0
1,https,www.himalayanbank.com,en/,0,0,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0,0,0
3,https,www.nbbl.com.np,,0,0,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0,0,0

In [67]:
def sub_domains(l):
    if l.count('.') <= 3:
        return 0
    else:
        return 1

In [68]:
splitted_data['sub_domains'] = splitted_data['domain_name'].apply(sub_domains)

In [69]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol,redirection_//_symbol,prefix_suffix_seperation,sub_domains
0,https,enabil.nabilbank.com,#/login,0,0,0,0,0
1,https,www.himalayanbank.com,en/,0,0,0,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0,0,0,0
3,https,www.nbbl.com.np,,0,0,0,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0,0,0,0

In [70]:
import re
def having_ip_address(url):
    match=re.search('(([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\.([01]?\\d\\d?|2[0-4]\\d|25[0-5])\\/)|'  #IPv4
                    '((0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\.(0x[0-9a-fA-F]{1,2})\\/)'  #IPv4 in hexadecimal
                    '(?:[a-fA-F0-9]{1,4}:){7}[a-fA-F0-9]{1,4}',url)     #Ipv6
    if match:
        #print match.group()
        return 1
    else:
        #print 'No matching pattern found'
        return 0

In [71]:
splitted_data['having_ip_address'] = raw_data0['URLs'].apply(having_ip_address)

In [72]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol,redirection_//_symbol,prefix_suffix_seperation,sub_domains,having_ip_address
0,https,enabil.nabilbank.com,#/login,0,0,0,0,0,0
1,https,www.himalayanbank.com,en/,0,0,0,0,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0,0,0,0,0
3,https,www.nbbl.com.np,,0,0,0,0,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0,0,0,0,0

In [73]:
#we have imported re module in the above feature. So need not to import again
def shortening_service(url):
    match=re.search('bit\.ly|goo\.gl|shorte\.st|go2l\.ink|x\.co|ow\.ly|t\.co|tinyurl|tr\.im|is\.gd|cli\.gs|'
                    'yfrog\.com|migre\.me|ff\.im|tiny\.cc|url4\.eu|twit\.ac|su\.pr|twurl\.nl|snipurl\.com|'
                    'short\.to|BudURL\.com|ping\.fm|post\.ly|Just\.as|bkite\.com|snipr\.com|fic\.kr|loopt\.us|'
                    'doiop\.com|short\.ie|kl\.am|wp\.me|rubyurl\.com|om\.ly|to\.ly|bit\.do|t\.co|lnkd\.in|'
                    'db\.tt|qr\.ae|adf\.ly|goo\.gl|bitly\.com|cur\.lv|tinyurl\.com|ow\.ly|bit\.ly|ity\.im|'
                    'q\.gs|is\.gd|po\.st|bc\.vc|twitthis\.com|u\.to|j\.mp|buzurl\.com|cutt\.us|u\.bb|yourls\.org|'
                    'x\.co|prettylinkpro\.com|scrnch\.me|filoops\.info|vzturl\.com|qr\.net|1url\.com|tweez\.me|v\.gd|tr\.im|link\.zip\.net',url)
    if match:
        return 1
    else:
        return 0

In [74]:
splitted_data['shortening_service'] = raw_data0['URLs'].apply(shortening_service)

In [75]:
splitted_data.head()

,protocol,domain_name,address,long_url,having_@_symbol,redirection_//_symbol,prefix_suffix_seperation,sub_domains,having_ip_address,shortening_service
0,https,enabil.nabilbank.com,#/login,0,0,0,0,0,0,0
1,https,www.himalayanbank.com,en/,0,0,0,0,0,0,0
2,https,ibanking.nbbl.com.np,#/login,0,0,0,0,0,0,0
3,https,www.nbbl.com.np,,0,0,0,0,0,0,0
4,https,www.netebl.com,corp/AuthenticationController?FORMSGROUP_ID__=...,1,0,0,0,0,0,0

In [76]:
def https_token(url):
    match=re.search('https://|http://',url)
    if match.start(0)==0:
        url=url[match.end(0):]
    match=re.search('http|https',url)
    if match:
        return 1
    else:
        return 0

In [77]:
splitted_data['https_token'] = raw_data0['URLs'].apply(https_token)

In [80]:
splitted_data.shape

(2000, 11)

In [79]:
#pip install retry

In [83]:
from bs4 import BeautifulSoup
from tqdm import tqdm
from contextlib import suppress
from retry import retry
import urllib.request

def web_traffic(url):
    try:
        rank = BeautifulSoup(urllib.request.urlopen("http://data.alexa.com/data?cli=10&dat=s&url=" + url).read(), "xml").find("REACH")['RANK']
    except TypeError:
        return 1
    #print (TypeError)
    rank = int(rank)
    if (rank<100000):
        return 0
    elif(rank is None):
        return 1
    else:
        return 0

In [84]:
tqdm.pandas()
try:
    splitted_data['web_traffic'] = raw_data0['URLs'].progress_apply(web_traffic)
except Exception as error:
    print (error)

100%|███████████████████████████████████████| 2000/2000 [23:15<00:00,  1.43it/s]

In [ ]:
splitted_data.shape

In [ ]:
splitted_data.shape

In [86]:
import whois
from datetime import datetime
import time
def domain_registration_length_sub(domain):
    expiration_date = domain.expiration_date
    today = time.strftime('%Y-%m-%d')
    today = datetime.strptime(today, '%Y-%m-%d')
    if expiration_date is None:
        return 1
    elif type(expiration_date) is list or type(today) is list :
        return 0             #If it is a type of list then we can't select a single value from list. So,it is regarded as suspected website  
    else:
        registration_length = abs((expiration_date - today).days)
        if registration_length / 182 <= 1:
            return 1
        else:
            return 0

In [87]:
def domain_registration_length_main(domain):
    dns = 0
    try:
        domain_name = whois.whois(domain)
    except:
        dns = 1
        
    if dns == 1:
        return 1
    else:
        return domain_registration_length_sub(domain_name)

In [ ]:
try:
    splitted_data['domain_registration_length'] = splitted_data['domain_name'].progress_apply(domain_registration_length_main)
except Exception:
    pass